:root {
  --genially-background-color: #000f33;
  --genially-background-canva: #f0f8ff;
  --genially-font: "Source Sans Pro", sans-serif;
  --genially-font-size: 62.5%;
  --genially-font-color: #ffffff;
  --genially-color: #525fff;
  --genially-color-pink: #f788e4;
  --genially-color-hover: #221ab2;
  --genially-color-active: #221ab241;
  --genially-grey: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  background-color: var(--genially-background-color);
  width: 100%;
  height: 100%;
  font-size: var(--genially-font-size);
  font-family: var(--genially-font);
}

div.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

div.toolbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

div.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div.toolbar span {
  color: var(--genially-grey);
  font-size: 1.5rem;
  height: 4.5rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid var(--genially-grey);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: fit-content;
}

button {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--genially-color);
  color: var(--genially-font-color);
  font-family: var(--genially-font);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition:
    background 0.15s cubic-bezier(0.4, 0, 0.4, 1) 0s,
    transform 0.1s cubic-bezier(0.4, 0, 0.4, 1) 0s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:hover {
  background-color: var(--genially-color-hover);
}

button:active {
  transform: scale(0.95);
}

.all-remove {
  background-color: var(--genially-color-pink);
  color: var(--genially-background-color);
}

.all-remove:hover {
  background-color: var(--genially-color-hover);
  color: var(--genially-font-color);
}

svg.btn {
  background-color: var(--genially-color);
  color: var(--genially-font-color);
  font-size: 3rem;
  height: 5.2rem;
  width: 5.2rem;
  outline: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  transition:
    background 0.15s cubic-bezier(0.4, 0, 0.4, 1) 0s,
    transform 0.1s cubic-bezier(0.4, 0, 0.4, 1) 0s;
  cursor: pointer;
}

svg.btn:hover {
  background-color: var(--genially-color-hover);
}

svg.btn:active {
  transform: scale(0.95);
}

div.canva {
  width: 1000px;
  aspect-ratio: 16/9;
  background-color: var(--genially-background-canva);
}

div.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.box p {
  font-family: var(--genially-font);
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--genially-font-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="color"] {
  width: 5.5rem;
  height: 5.4rem;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--genially-font-color);
  padding: 0.2rem 0.3rem;
  cursor: pointer;
}
